*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Lato;
    font-size: 15px;
}
  
.header{
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #e0e0e0;
    max-width: 1112px;
}

.container{
    display: flex;
    justify-content: center;
    height: 100%;
}

main{
    width: 100%;
    max-width: 1112px;
}

.logo {
    margin: 22px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 22px;
}

.menu img{
    height: 25px;
    width: 25px;
}

.links {
    display : none;
    position: fixed;
    top :0px;
    right: 0px;
    background-color: #333;
    flex-direction: column;
    list-style: none;
    height: 100%;
    width: 80%;
}

/* .menu:hover .links {
    display: flex;
} */

.links li {
    padding: 0px 20px 0px 20px;
    display: flex;
    text-align: right;
    width: calc(100% - 40px);
}

li span{
    display: none;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px;
    padding-top: 12px;
    height: 32px;
    width: 100%;
    cursor: pointer;
}

.links li:hover {
    background-color: #e0e0e0;
    color : #333;
}

.links .menu-close {
    text-align: left;
    font-size: 1.3em;
}

.links .menu-close a {
    height: 43px;
    padding-top: 22px;
}


/* Configuração da area de dados */
.area-dados .titulo-form {
    display: none;
}


.area-dados .formulario{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
    margin-top: 15px;

}

.area-dados .formulario label {
    display: block;
}

.area-dados .formulario select{
    width: 100%;
    display: block;
    padding: 8px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
    border: 1px solid rgba(77, 74, 74, 0.4);
    color:black;
}

.area-dados .formulario input{
    width: calc(100% - 20px);
    display: block;
    padding: 8px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
    border : 1px solid rgba(77, 74, 74, 0.4);
}

.area-dados .formulario button {
    width: 100%;
    display: block;
    padding: 8px;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    background-color : rgba(0, 0, 0, 0.849);
    border : 1px solid rgba(77, 74, 74, 0.4);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.botao{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.4);
}


/* Configuração hr central*/
hr {
    width: calc(100% - 24px);
    margin-top: 3px;
}

/* Configuração area extrato **/

.extrato {
    margin-bottom: 15px;
    margin-left: 20px;
}

.titulo-extrato {
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

table {
    border-collapse: collapse;
    margin-top: 15px;
    width: calc(100% - 22px);
}

th , td{
    line-height: 30px;
    vertical-align: top;
    border-bottom: 1px solid rgba(0, 0, 0, 0.534);
}

.sinal{
    width: 5.5%;
    text-align: center;
}

.empty{
    width: 7%;
}

.mercadoria{
    text-align: left;
    width: 30%;
    word-break: break-word;
}

.valor{
    width: 45%;
    text-align: right;
    padding-right: 12px;
}

.valor-total{
    width: 45%;
    text-align: right;
    padding-right: 12px;
}

table.total td , tr{
    border: none;
}

table.total{
    margin-top: 5px;
}


.lucro-prejuizo{
    width: calc(100% - 8%);
    display: flex;
    justify-content: flex-end;
    margin-top: 2px;
    font-size: 11px;
    text-align: center;
}

#modal {
    background-color: #333;
    margin: 0px auto;
    position: fixed;
    z-index: 2;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 150px;
}

#sobreposicao {
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: none;
}

#modal p {
    text-align: center;
    color : #fff;
}

#confirmacao {
    display: flex;
    flex-direction: column;
}

#modal button {
    margin-top: 20px;
    background: #fff;
    width: 100px;
    height: 30px;
    border-radius: 7px;
}

@media screen and (min-width : 655px) {
    .area-dados .titulo-form {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        font-weight: 700px;
        font-size: 16px;
        margin-left: 10px;
    }
    
    .links{
        width: 33%;
    }

    li span{
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    /* Configuração área dados do tablet */

    .area-dados .formulario{
        border: 1px solid rgba(0, 0, 0, 0.4);
        margin: 20px;
    }

    .dados-form{
        display: flex;    
        flex-direction: row;
        justify-content: space-between;
    }

    .area-dados .formulario #select{
       width: 23%;
    }

    .area-dados .formulario #input1{
        width: 52%;
        margin: 0px 15px 0px 15px;
    }
    
    .area-dados .formulario #input2{
        width: 23%;
    }

    .mercadoria{
        text-align: left;
        width: 15%;
    }

    .botao{
        width: 100%;
        border: none;
        padding: 0px;
        display: flex;
        justify-content: flex-end;
    }

    .area-dados .formulario button {
        width: 28%;
        border: 1px solid black;
        margin: 10px 0px 10px 0px;
    }
    

    /* Configuração area extrato */
    .lucro-prejuizo{
        width: calc(100% - 35px);
    }

    .sinal{
        width: 3%;
    }

    /* Configuração do modal */
    #modal {
        width: 400px;
        justify-content: center;
    }

    #modal button {
        width: 180px;
        margin: 5px;
        margin-top : 20px;
    }

    #confirmacao {
        flex-direction: row;
    }

}

@media screen and (min-width : 992px){
    .title {
        text-align: left;
        font-size: 25px;
    }

    header {
        height: 80px;
    }

    .menu .links {
        display: flex;
        margin-top: 1px;
        position: initial;
        width: 400px;
        flex-direction: row;
        align-items: center;
        height: 60px;
        background-color: #fff;
    }

    .menu .menu-close , .menu .menu-toggle {
        display: none;
    }

    .menu .links li {
        padding: initial;
        width: calc(100% - 40px);
    }

    .menu .links a {
        color: black;
        line-height: 22px;
    }

    li span{
        display: inline;
        text-align: center;
        margin-right: 28px;
        margin-left: 12px;
        color: black;
    }

    li:nth-child(2){
        text-align: right;
    }

    li:nth-child(3){
        text-align: left;
    }

    .menu .links li:hover{
        background-color: #fff;
    }

    main {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }


    /* Configuração área dados*/

    .area-dados {
        display: block;
        width: 40%;
    }

    .area-dados .formulario {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        border: 1px solid rgba(0, 0, 0, 0.63);
    }

    .area-dados .titulo-form {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        margin-left: 0px;
    }

    .dados-form{
        display: flex;    
        flex-direction: column;
    }

    .area-dados .formulario #select{
      width: 100%;
    }

    .area-dados .formulario #input1{
        width: 100%;
        margin: 0px;
      }
      
    .area-dados .formulario #input2{
        width: 100%;
    }

    .area-dados .formulario button{
        margin: 10px 0px 10px 0px;
        width: 100%;
    }

    .botao{
        display: block;
        width: 100%;
        border: none;
    }


    /* Configuração área extrato */
    .mercadoria {
        width: 20%;
    }


    .area-extrato {
        width: 60%;
        margin-top: 20px;
    }

    .lucro-prejuizo{
        width: calc(100% - 32px);
    }

    .area-extrato .titulo-extrato {
        margin-top: 5px;
        margin-bottom: 15px;
    }
}


